.valor {
    color: red;
    background-color: rgb(158, 156, 152);
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px 10px;
    width: 250px;
    height: 40px;
    padding: 10px;
}

.nomeLan {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.botao {
    color: black;
    background-color: rgb(158, 156, 152);
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px 10px;
    width: 150px;
    height: 40px;
    padding: 8px;
}

.bot {
    position: absolute;
    right: 0%;
}

.pagination {
    margin-top: 5px;
}